<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishek.bookshareapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".ui.SearchResultsActivity"
            android:label="Search"
            android:parentActivityName=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCHRESULTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="Campus Books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SignupActivity" />
        <activity
            android:name=".ui.MyBooks"
            android:label="My Books"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.BookDetailsActivity"
            android:label="Book Details" />
        <activity
            android:name=".ui.UserProfile"
            android:label="User Details"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MyProfile"
            android:excludeFromRecents="true"
            android:label="My Profile"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Sliding.Light" />
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EditProfileActivity"
            android:label="Edit your details"
            android:parentActivityName=".ui.MyProfile" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".ui.MyProfile" />
        <activity
            android:name=".ui.GuestActivity"
            android:label="Campus Books" />
    </application>

</manifest>